.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#map{
  height: 800px;
  width: 80%;
}

.modalContainer{
  position: fixed;
  height: 400px;
  width: 400px;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hidden{
  display: none;
}
