.background{
  background-color: black;
    background-image: url(assets/Corona-concert.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(90, 90, 90);
}

#map{
  height: 50vh;
  width: 80%;
}

.modalContainer{
  position: fixed;
  height: 400px;
  width: 400px;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

form{
  text-align: center;
}

.hidden{
  display: none;
}
